<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Things I need to do</h1>
        
       <form action="add" method="post">
        <div>
          <p>
            <label for="id_name">Name: </label>
            <input type="text" name="id_name" id="id_name" />
          </p>
        </div>
        <div>
          <p>
            <label for="id_done">Done: </label>
            <input type="checkbox" name="id_done" id="id_done" />
          </p>
        </div>
        <div>
          <p>
            <button type="submit">Add item</button>
          </p>
          



       </form>
  </body>
</html>
